
body
{
    font-family: sans-serif;
}
input
{
    margin: 1em;
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 0.25em;
    font-size: 1em;
    font-weight: bold;
}

strike
{
    display: block;
}